body{
    color: rgb(82, 40, 22);
    background-color: gray;
}



.topSection {
    text-align: center;
}




.middleSection {
    display: flex;
    align-items: center;
    justify-content: center;
}




